NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= Yours clerk public key (Dont use double Quotes.)
CLERK_SECRET_KEY= (Yours Clerk Security Key) (Dont use quotes)
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/